<html>
  <head>
    <title>Shrine Tus Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Shrine demo featuring resumable uploads using Uppy" />

    <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/tus-js-client@1.4.5/dist/tus.js"></script>
    <script src="https://unpkg.com/uppy@0.24.4/dist/uppy.min.js"></script>

    <link href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" media="screen" rel="stylesheet" />
    <link href="https://unpkg.com/uppy@0.24.4/dist/uppy.min.css" rel="stylesheet" />
    <%= assets(:css) %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <%= assets(:js) %>
  </body>
</html>
