<html>
  <head>
    <script src="/assets/tus.js"></script>

    <link href="/assets/bootstrap.css" media="screen" rel="stylesheet">
    <%= assets(:css) %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <%= assets(:js) %>
  </body>
</html>
